<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ReleaseNews</display-name>
  <welcome-file-list>
    <welcome-file>jsp/VColServlet</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>commons.charsetFilter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>A_Servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/jsp/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogServlet</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>A_Servlet.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/jsp/LogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VColServlet</display-name>
    <servlet-name>VColServlet</servlet-name>
    <servlet-class>A_Servlet.VColServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VColServlet</servlet-name>
    <url-pattern>/jsp/VColServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VTheServlet</display-name>
    <servlet-name>VTheServlet</servlet-name>
    <servlet-class>A_Servlet.VTheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VTheServlet</servlet-name>
    <url-pattern>/jsp/VTheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VNewServlet</display-name>
    <servlet-name>VNewServlet</servlet-name>
    <servlet-class>A_Servlet.VNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VNewServlet</servlet-name>
    <url-pattern>/jsp/VNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVNewsListServlet</display-name>
    <servlet-name>MVNewsListServlet</servlet-name>
    <servlet-class>A_Servlet.MVNewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVNewsListServlet</servlet-name>
    <url-pattern>/jsp/MVNewsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVUnNewsListServlet</display-name>
    <servlet-name>MVUnNewsListServlet</servlet-name>
    <servlet-class>A_Servlet.MVUnNewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVUnNewsListServlet</servlet-name>
    <url-pattern>/jsp/MVUnNewsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVNewsEditServlet</display-name>
    <servlet-name>MVNewsEditServlet</servlet-name>
    <servlet-class>A_Servlet.MVNewsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVNewsEditServlet</servlet-name>
    <url-pattern>/jsp/MVNewsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVUserListServlet</display-name>
    <servlet-name>MVUserListServlet</servlet-name>
    <servlet-class>A_Servlet.MVUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVUserListServlet</servlet-name>
    <url-pattern>/jsp/MVUserListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MVRemarkListServlet</display-name>
    <servlet-name>MVRemarkListServlet</servlet-name>
    <servlet-class>A_Servlet.MVRemarkListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVRemarkListServlet</servlet-name>
    <url-pattern>/jsp/MVRemarkListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MVIndexCountServlet</display-name>
    <servlet-name>MVIndexCountServlet</servlet-name>
    <servlet-class>A_Servlet.MVIndexCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVIndexCountServlet</servlet-name>
    <url-pattern>/jsp/MVIndexCountServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CAboServlet</display-name>
    <servlet-name>CAboServlet</servlet-name>
    <servlet-class>A_Servlet.CAboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CAboServlet</servlet-name>
    <url-pattern>/jsp/CAboServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MVAboListServlet</display-name>
    <servlet-name>MVAboListServlet</servlet-name>
    <servlet-class>A_Servlet.MVAboListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVAboListServlet</servlet-name>
    <url-pattern>/jsp/MVAboListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MDeleteServlet</display-name>
    <servlet-name>MDeleteServlet</servlet-name>
    <servlet-class>A_Servlet.MDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MDeleteServlet</servlet-name>
    <url-pattern>/jsp/MDeleteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditRemarkServlet</display-name>
    <servlet-name>EditRemarkServlet</servlet-name>
    <servlet-class>A_Servlet.EditRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRemarkServlet</servlet-name>
    <url-pattern>/jsp/EditRemarkServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MLogServlet</display-name>
    <servlet-name>MLogServlet</servlet-name>
    <servlet-class>A_Servlet.MLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MLogServlet</servlet-name>
    <url-pattern>/jsp/MLogServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditNewsServlet</display-name>
    <servlet-name>EditNewsServlet</servlet-name>
    <servlet-class>A_Servlet.EditNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsServlet</servlet-name>
    <url-pattern>/jsp/EditNewsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MVBabyInfoListServlet</display-name>
    <servlet-name>MVBabyInfoListServlet</servlet-name>
    <servlet-class>A_Servlet.MVBabyInfoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVBabyInfoListServlet</servlet-name>
    <url-pattern>/jsp/MVBabyInfoListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MVBabyInfoEditServlet</display-name>
    <servlet-name>MVBabyInfoEditServlet</servlet-name>
    <servlet-class>A_Servlet.MVBabyInfoEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVBabyInfoEditServlet</servlet-name>
    <url-pattern>/jsp/MVBabyInfoEditServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MVBabyMedicalServlet</display-name>
    <servlet-name>MVBabyMedicalServlet</servlet-name>
    <servlet-class>A_Servlet.MVBabyMedicalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVBabyMedicalServlet</servlet-name>
    <url-pattern>/jsp/MVBabyMedicalServlet</url-pattern>
  </servlet-mapping>
</web-app>